* {
    padding:0;
    margin:0;
    box-sizing: border-box;
  }
  
  /* header {
    background-color:black;
    height:12%;
    position: relative;
    display:flex;
  } */
  
  #bdy {
    background-color:#E0C9A6;
    font-family: 'EB Garamond', serif;
  }
  
  #logo {
    float:left;
  }
  
  /* #logo img.banner{
    position:relative;
    left:20%;
    float:left;
    width:auto;
    height:95%;
    background-size:contain;
    background-position:center;
    cursor:pointer;
  } */
  
  #headNav{
    /* float:right; */
    margin:0 auto;
  }
  
  #headNav ul, #optionDrop ul {
    margin:0;
    padding:0;
    list-style: none;
  }
  
  #headNav li{
    display:inline-block;
    margin-left:75px;
    position:relative;
  } 
  
  #headNav li a, #eventsButton{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size:auto;
  }
  
  #headNav a:hover,#headNav button:hover {
    color: rgb(215, 211, 133);
  }
  
  #headNav a::before {
    content:"";
    display:block;
    height:5px;
    width:100%;
    background-color:rgb(120, 86, 0);
    position:absolute;
    top:0;
    width:0%;
    transition: all ease-in-out 150ms;
  }
  
  #headNav a:hover::before {
    width:100%;
  }
  
  
  html {
    height:100%;
  }
  
  body{
    /* position:relative; */
    min-height: 100%;
    z-index:1;
  }  

h2 {
  text-align: center;
}



  .sticky {
    position: fixed;
    z-index:3;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

#day1 tr, #day1 th, #day1 td{
  border: 1px solid black;
  text-align: center;
}

#day1 #thead, #day1 th, #day1 td{
  color:white;
  text-align:center;
  background-color: rgb(97, 95, 90);
}
#day1 td {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
#day1 caption,#day2 caption {
  font-size:x-large;
}

#banner {
  width:50%;
}
#navResponsive {
  flex-grow: 0.1;
}

#events {
  margin-left:0px;
}
@media (max-width:567px){
  #day1 caption, #day2 caption {
    font-size:larger;
  }
  #banner {
    width:40%;
  }
  #navResponsive {
    flex-grow:1;
  }


}
